.header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.home-button {
  text-align: center;
  margin: auto;
  font-size: xxx-large;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-decoration: none;
}
