.disclaimer {
  text-align: center;
  margin: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
a:focus { text-decoration: none; color: white; }
a:hover, a:active { text-decoration: none; color: white; }
